/* Fondo 3D */
#canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
}

/* Hero principal */
.hero {
  
  position: relative;
  text-align: center;
  color: white;
}

/* Menú */
.nav-menu {
  
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: xx-large;
}
.nav-menu a {
  text-decoration: none; /* Elimina el subrayado */
  color: white; 
}

.logo img {
  height: 100px;
 
}

/* Texto principal */
#home-text {
  position: absolute;
  top: 650px; 
  /* Mueve el texto más abajo */
  /* Modificar aqui para mover el texto encima del modelo 3d de forma vertical*/
  left: 725px;
  padding: 20px;
  text-align: center;
 
}



#title {
  font-family: 'Orbitron', sans-serif;
  font-size: xx-large;
}

#subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: large;
}


#underModel3d {

  top: 1000%;

}



/*-------------------------------------------------------------------------------------------------------------------*/
/* GaleryAI-ART*/


/* Aseguramos que la página ocupa toda la altura */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* Para que el contenido se alinee verticalmente */
}

.hero {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container-cards {

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* Centra verticalmente */
  height: 100%;
  font-size: large;
}

.card {
  font-family: 'Orbitron', sans-serif;
  background-color: #131626;
  border: 1px solid #2a2d46;
  border-radius: 10px;
  width: 250px;
  height: 350px;
  display: flex;
  flex-direction: column; /* Contenido alineado al principio */
  align-items: center;
  padding: 20px; /* Espacio interno en todo el contenedor */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {

  margin-top: -100px;
  margin-bottom: 20px;


}

.card:hover {
  transform: translateY(-10px);
  /* Esto es el efecto de elevación al pasar el mouse */
}


.card-number {
  
  margin-top: 20px;
  font-size: 16px;
  color: #e3af83;
  text-transform: uppercase;
}

.card-title {
  
 
  margin-bottom: 100px;
}

.card-logo {
  margin-top: 100px;
  /* mover el logo hacia abajo */

}


/*-------------------------------------------------------------------------------------------------------------------*/
/* JujutsuKaisen*/


.banner{

  height: 1500px;

background-color: aqua;


}

.banner img{

  height: 100%;
  width: 100%;
}


.art-container{
  

  display: flex;
  
  flex-direction: row;

  align-items: center;

  justify-content: space-between;

  width: 100vh;
  height: 100vh;
  background-color: wheat;
}



@media only screen and (max-width:600px){


  .navegation-menu{
    flex-direction: column;

  }
}